SCORM 2004.4/Tools/ADL_SCORM_2004_RELOAD_Editor_1_1/schema/model/adlcp_130_3rd/imscp_v1p1.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<!-- SCORM 1.2 additions by Phillip Beauvoir  -->
<!-- SCORM 1.3 additions by Jennifer Brooks, IDA/ADL -->
<xs:schema xmlns = "http://www.imsglobal.org/xsd/imscp_v1p1"
	targetNamespace = "http://www.imsglobal.org/xsd/imscp_v1p1"
	xmlns:xs = "http://www.w3.org/2001/XMLSchema"
     	xmlns:xml = "http://www.w3.org/XML/1998/namespace"
	xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_v1p3"
	xmlns:imsss="http://www.imsglobal.org/xsd/imsss"
	xmlns:adlseq="http://www.adlnet.org/xsd/adlseq_v1p3"
	xmlns:adlnav="http://www.adlnet.org/xsd/adlnav_v1p3"
	 version = "IMS CP 1.1.3"
	 elementFormDefault = "unqualified">
	<xs:annotation>
		<xs:documentation xml:lang = "en">DRAFT XSD for IMS Content Packaging version 1.1 DRAFT                </xs:documentation>
		<xs:documentation> Copyright (c) 2001 IMS GLC, Inc.                                                    </xs:documentation>
		<xs:documentation>2000-04-21, Adjustments by T.D. Wason from CP 1.0.                                   </xs:documentation>
		<xs:documentation>2001-02-22, T.D.Wason: Modify for 2000-10-24 XML-Schema version.                     </xs:documentation>
		<xs:documentation> Modified to support extension.                                                      </xs:documentation>
		<xs:documentation>2001-03-12, T.D.Wason: Change filename, target and meta-data namespaces              </xs:documentation>
		<xs:documentation> and meta-data filename.                                                             </xs:documentation>
		<xs:documentation> Add meta-data to itemType, fileType and organizationType.                           </xs:documentation>
		<xs:documentation> Do not define namespaces for xml in XML instances generated from this xsd.          </xs:documentation>
		<xs:documentation> Imports IMS meta-data xsd, lower case element names.                                </xs:documentation>
		<xs:documentation> This XSD provides a reference to the IMS meta-data root element as imsmd:record     </xs:documentation>
		<xs:documentation> If the IMS meta-data is to be used in the XML instance then the instance            </xs:documentation>
		<xs:documentation> must definean IMS meta-data prefix with a namespace.                                </xs:documentation>
		<xs:documentation> The meta-data targetNamespace should be used.                                       </xs:documentation>
		<xs:documentation>2001-03-20, Thor Anderson: Remove manifestref, change resourceref back to            </xs:documentation>
		<xs:documentation> identifierref, change manifest back to contained by manifest.                       </xs:documentation>
		<xs:documentation> --Tom Wason: manifest may contain _none_ or more manifests.                         </xs:documentation>
		<xs:documentation>2001-04-13 Tom Wason: corrected attirbute name structure.  Was misnamed type.        </xs:documentation>
		<xs:documentation>2001-05-14 Schawn Thropp: Made all complexType extensible with the group.any         </xs:documentation>
		<xs:documentation> Added the anyAttribute to all complexTypes.                                         </xs:documentation>
		<xs:documentation> Changed the href attribute on the fileType and resourceType to xs:string           </xs:documentation>
		<xs:documentation> Changed the maxLength of the href, identifierref, parameters, structure             </xs:documentation>
		<xs:documentation> attributes to match the Information model.                                          </xs:documentation>
		<xs:documentation>2001-07-25 Schawn Thropp: Changed the namespace for the Schema of Schemas to         </xs:documentation>
		<xs:documentation> the 5/2/2001 W3C XML Schema Recommendation.                                         </xs:documentation>
		<xs:documentation> attributeGroup attr.imsmd deleted, was not used anywhere.                           </xs:documentation>
		<xs:documentation> Any attribute declarations that have use = "default"                                </xs:documentation>
		<xs:documentation> changed to use="optional" - attr.structure.req.                                     </xs:documentation>
		<xs:documentation> Any attribute declarations that have value="somevalue" changed to                   </xs:documentation>
		<xs:documentation> default="somevalue" - attr.structure.req (hierarchical).                            </xs:documentation>
		<xs:documentation> Removed references to IMS MD Version 1.1.                                           </xs:documentation>
		<xs:documentation> Modified attribute group "attr.resourcetype.req" to change use from optional        </xs:documentation>
		<xs:documentation> to required to match the information model.  As a result the default value          </xs:documentation>
		<xs:documentation> also needed to be removed                                                           </xs:documentation>
		<xs:documentation> Name change for XSD.  Changed to match version of CP Spec                           </xs:documentation>
		<xs:documentation> 2001-11-04 Chris Moffatt:                                                           </xs:documentation>
		<xs:documentation>  1. Refer to the xml namespace using the "x" abbreviation instead of "xml".         </xs:documentation>
		<xs:documentation>     This changes enables the schema to work with commercial XML Tools               </xs:documentation>
		<xs:documentation>  2. Revert to original IMS CP version 1.1 namespace.                                </xs:documentation>
		<xs:documentation>     i.e. "http://www.imsglobal.org/xsd/imscp_v1p1"                                  </xs:documentation>
		<xs:documentation>     This change done to support the decision to only change the XML namespace with  </xs:documentation>
		<xs:documentation>     major revisions of the specification i.e. where the information model or binding</xs:documentation>
		<xs:documentation>     changes (as opposed to addressing bugs or omissions). A stable namespace is     </xs:documentation>
		<xs:documentation>     necessary to the increasing number of implementors.                             </xs:documentation>
		<xs:documentation>  3. Changed name of schema file to "imscp_v1p1p3.xsd" and                           </xs:documentation>
		<xs:documentation>     version attribute to "IMS CP 1.1.3" to reflect minor version change             </xs:documentation>
		<xs:documentation>Inclusions and Imports                                                               </xs:documentation>
		<xs:documentation>Attribute Declarations                                                               </xs:documentation>
		<xs:documentation>element groups                                                                       </xs:documentation>
		<xs:documentation>

		</xs:documentation>
		<xs:documentation>2003-03-21 Schawn Thropp                                                             </xs:documentation>
		<xs:documentation>The following updates were made to the Version 1.1.3 "Public Draft" version:         </xs:documentation>
		<xs:documentation>  1. Updated name of schema file (imscp_v1p1.xsd) to match to IMS naming guideance   </xs:documentation>
		<xs:documentation>  2. Updated the import statement to reference the xml.xsd found at                  </xs:documentation>
		<xs:documentation>       "http://www.w3.org/2001/03/xml.xsd".  This is the current W3C schema          </xs:documentation>
		<xs:documentation>        recommended by the W3C to reference.                                         </xs:documentation>
		<xs:documentation>  3. Removed all maxLength's facets.  The maxLength facets was an incorrect binding  </xs:documentation>
		<xs:documentation>     implementation.  These lengths were supposed, according to the information      </xs:documentation>
		<xs:documentation>     model, to be treated as smallest permitted maximums.                            </xs:documentation>
		<xs:documentation>  4. Added the variations content model to support the addition in the information   </xs:documentation>
		<xs:documentation>     model.                                                                          </xs:documentation>
	</xs:annotation>

	<xs:import namespace = "http://www.w3.org/XML/1998/namespace" schemaLocation = "ims_xml.xsd"/>

    <!-- SCORM Declaration -->
    <xs:import namespace="http://www.adlnet.org/xsd/adlseq_v1p3" schemaLocation="adlseq_v1p3.xsd"/>
    <xs:import namespace="http://www.adlnet.org/xsd/adlcp_v1p3" schemaLocation="adlcp_v1p3.xsd"/>
    <xs:import namespace="http://www.imsglobal.org/xsd/imsss" schemaLocation="imsss_v1p0.xsd"/>
    <xs:import namespace="http://www.adlnet.org/xsd/adlnav_v1p3" schemaLocation="adlnav_v1p3.xsd"/>
    

   <!-- **************************** -->
   <!-- **** SCORM Declarations **** -->
   <!-- **************************** -->
   <xs:attributeGroup name="attr.scormType">
      <xs:attribute ref="adlcp:scormType" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="attr.persistState">
      <xs:attribute ref="adlcp:persistState"/>
   </xs:attributeGroup>

   <xs:attributeGroup name="attr.objectivesGlobalToSystem">
      <xs:attribute ref ="adlseq:objectivesGlobalToSystem" />
   </xs:attributeGroup>

	<xs:group name = "grp.any">
		<xs:annotation>
			<xs:documentation>Any namespaced element from any namespace may be included within an "any" element.  The namespace for the imported element must be defined in the instance, and the schema must be imported.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace = "##other" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name = "attr.version">
		<xs:attribute name = "version" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.structure.req">
		<xs:attribute name = "structure" default = "hierarchical" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.resourcetype.req">
		<xs:attribute name = "type" use = "required" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.identifierref.req">
		<xs:attribute name = "identifierref" use = "required" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.identifierref">
		<xs:attribute name = "identifierref" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.parameters">
		<xs:attribute name = "parameters" type = "xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.isvisible">
		<xs:attribute name = "isvisible" type = "xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.identifier">
		<xs:attribute name = "identifier" type = "xs:ID"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.identifier.req">
		<xs:attribute name = "identifier" use = "required" type = "xs:ID"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.href.req">
		<xs:attribute name = "href" use = "required" type = "xs:anyURI"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.href">
		<xs:attribute name = "href" type = "xs:anyURI"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.default">
		<xs:attribute name = "default" type = "xs:IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name = "attr.base">
		<xs:attribute ref = "xml:base"/>
	</xs:attributeGroup>

	<!-- Copyright (2) 2003 IMS Global Learning Consortium, Inc. -->


	<!-- ******************** -->


	<!-- ** Change History ** -->


	<!-- ******************** -->


	<!-- **************************** -->


	<!-- ** Attribute Declarations ** -->


	<!-- **************************** -->


	<!-- ************************** -->


	<!-- ** Element Declarations ** -->


	<!-- ************************** -->

	<xs:element name = "dependency" type = "dependencyType"/>
	<xs:element name = "file" type = "fileType"/>
	<xs:element name = "item" type = "itemType"/>
	<xs:element name = "manifest" type = "manifestType"/>
	<xs:element name = "metadata" type = "metadataType"/>
	<xs:element name = "organization" type = "organizationType"/>
	<xs:element name = "organizations" type = "organizationsType"/>
	<xs:element name = "resource" type = "resourceType"/>
	<xs:element name = "resources" type = "resourcesType"/>
	<xs:element name = "schema" type = "schemaType"/>
	<xs:element name = "schemaversion" type = "schemaversionType"/>
	<xs:element name = "title" type = "titleType"/>

	<!-- ******************* -->


	<!-- ** Complex Types ** -->


	<!-- ******************* -->


	<!-- **************** -->


	<!-- ** dependency ** -->


	<!-- **************** -->

	<xs:complexType name = "dependencyType">
		<xs:sequence>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.identifierref.req"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ********** -->


	<!-- ** file ** -->


	<!-- ********** -->

	<xs:complexType name = "fileType">
		<xs:sequence>
			<xs:element ref = "metadata" minOccurs = "0"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.href.req"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ********** -->


	<!-- ** item ** -->


	<!-- ********** -->

	<xs:complexType name = "itemType">
		<xs:sequence>
			<xs:element ref = "title" minOccurs = "0"/>
			<xs:element ref = "item" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element ref = "metadata" minOccurs = "0"/>
			<!-- Start SCORM Declarations -->
			<xs:element ref="adlcp:timeLimitAction" minOccurs="0"/>
			<xs:element ref="adlcp:dataFromLMS" minOccurs="0"/>
			<xs:element ref="adlcp:completionThreshold" minOccurs="0"/>
			<xs:element ref="adlnav:presentation" minOccurs="0"/>
			<xs:element ref="imsss:sequencing" minOccurs="0"/>
			<!-- End SCORM Declarations -->
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.identifier.req"/>
		<xs:attributeGroup ref = "attr.identifierref"/>
		<xs:attributeGroup ref = "attr.isvisible"/>
		<xs:attributeGroup ref = "attr.parameters"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ************** -->


	<!-- ** manifest ** -->


	<!-- ************** -->

	<xs:complexType name = "manifestType">
		<xs:sequence>
			<xs:element ref = "metadata" minOccurs = "1"/>
			<xs:element ref = "organizations"/>
			<!-- SCORM Declaration -->
			<xs:element ref="imsss:sequencingCollection" minOccurs="0" maxOccurs="1" />
			<xs:element ref = "resources"/>
			<xs:element ref = "manifest" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.identifier.req"/>
		<xs:attributeGroup ref = "attr.version"/>
		<xs:attribute ref = "xml:base"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ************** -->


	<!-- ** metadata ** -->


	<!-- ************** -->

	<xs:complexType name = "metadataType">
		<xs:sequence>
			<xs:element ref = "schema" minOccurs = "0"/>
			<xs:element ref = "schemaversion" minOccurs = "0"/>
         	<!-- Start SCORM Declarations -->
         	<xs:element ref="adlcp:location" minOccurs="0"/>
         	<!-- End SCORM Declarations -->
			<xs:group ref = "grp.any"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ******************* -->


	<!-- ** organizations ** -->


	<!-- ******************* -->
	<!-- minOccurs for organization element has been changed from 0 to 1 for model -->
	<!-- to force its addition to a new package (JB) -->
	<xs:complexType name = "organizationsType">
		<xs:sequence>
			<xs:element ref = "organization" minOccurs = "1" maxOccurs = "unbounded"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.default"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ****************** -->


	<!-- ** organization ** -->


	<!-- ****************** -->

	<xs:complexType name = "organizationType">
		<xs:sequence>
			<xs:element ref = "title" minOccurs = "0"/>
			<xs:element ref = "item" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element ref = "metadata" minOccurs = "0"/>
			<xs:element ref="imsss:sequencing" minOccurs="0"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.identifier.req"/>
		<xs:attributeGroup ref = "attr.structure.req"/>
		<xs:attributeGroup ref = "attr.objectivesGlobalToSystem"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- *************** -->


	<!-- ** resources ** -->


	<!-- *************** -->

	<xs:complexType name = "resourcesType">
		<xs:sequence>
			<xs:element ref = "resource" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.base"/>
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- ************** -->


	<!-- ** resource ** -->


	<!-- ************** -->

	<xs:complexType name = "resourceType">
		<xs:sequence>
			<xs:element ref = "metadata" minOccurs = "0"/>
			<xs:element ref = "file" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element ref = "dependency" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:group ref = "grp.any"/>
		</xs:sequence>
		<xs:attributeGroup ref = "attr.identifier.req"/>
		<xs:attributeGroup ref = "attr.resourcetype.req"/>
		<xs:attributeGroup ref = "attr.base"/>
		<xs:attributeGroup ref = "attr.href"/>
		<!-- Start SCORM Declarations -->
		<xs:attributeGroup ref="attr.scormType" />
		<xs:attributeGroup ref="attr.persistState" />
		<!-- End SCORM Declarations -->
		<xs:anyAttribute namespace = "##other" processContents = "strict"/>
	</xs:complexType>

	<!-- *************** -->


	<!-- ** variation ** -->


	<!-- *************** -->


	<!-- ****************** -->


	<!-- ** Simple Types ** -->


	<!-- ****************** -->

	<xs:simpleType name = "schemaType">
		<xs:restriction base = "xs:string"/>
	</xs:simpleType>
	<xs:simpleType name = "schemaversionType">
		<xs:restriction base = "xs:string"/>
	</xs:simpleType>
	<xs:simpleType name = "titleType">
		<xs:restriction base = "xs:string"/>
	</xs:simpleType>
</xs:schema>