SCORM 2004.4/Tools/ADL_SCORM_2004_RELOAD_Editor_1_1/schema/model/lom_10/healthcare/healthcaremetadata.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://ns.medbiq.org/lom/extend/v1/"
	 targetNamespace = "http://ns.medbiq.org/lom/extend/v1/"
	 xmlns:lom = "http://ltsc.ieee.org/xsd/LOM"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:a = "http://ns.medbiq.org/address/v1/"
	 elementFormDefault = "qualified">
	<xsd:import namespace="http://ns.medbiq.org/address/v1/" schemaLocation="http://ns.medbiq.org/address/v1/address.xsd"/>
	   <xsd:import namespace="http://ltsc.ieee.org/xsd/LOM"
              schemaLocation="../lom.xsd"/>

	<xsd:attributeGroup name = "customAttributes">
		<xsd:anyAttribute namespace = "##other" processContents = "lax"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "keywordAttributeExtensions">
		<xsd:attribute name = "source" type = "lom:CharacterString"/>
		<xsd:attribute name = "id" type = "lom:CharacterString"/>
		<xsd:attributeGroup ref = "customAttributes"/>
	</xsd:attributeGroup>
	<xsd:element name = "customElements">
		<xsd:complexType>
			<xsd:choice>
				<xsd:any namespace = "##other" processContents = "lax"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "healthcareMetadata" type = "healthcareMetadataType">
		<xsd:unique name = "healthcareMetadataUnique">
			<xsd:selector xpath = "*"/>
			<xsd:field xpath = "@uniqueElementName"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="activityLocationType">
		<xsd:complexContent>
			<xsd:extension base="a:AddressType">
				<xsd:sequence>
					<xsd:group ref="room"/>
					<xsd:group ref="building"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="room" type="lom:CharacterString"/>
	<xsd:element name="building" type="lom:CharacterString"/>	
	<xsd:element name="activityLocation" type="activityLocationType"/>
	<xsd:element name="accreditingBody" type="lom:CharacterString"/>
	<xsd:element name = "healthcareEducation" type = "healthcareEducationType" minOccurs = "0"/>
	<xsd:element name = "healthcareAsset" type = "healthcareAssetType" minOccurs = "0"/>
	<xsd:element name = "commercialSupport" type = "yesNoType" minOccurs = "0"/>
	<xsd:element name = "providerRelationship" type = "yesNoType" minOccurs = "0"/>
	<xsd:element name = "providerRelationshipDisclosure" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "facultyRelationship" type = "yesNoType" minOccurs = "0"/>
	<xsd:element name = "facultyRelationshipDisclosure" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "commercialSupportAcknowledgement" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "offLabelDescription" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "offLabelUse" type = "yesNoType" minOccurs = "0"/>
	<xsd:element name = "credits" type = "creditsType" minOccurs = "0" maxOccurs = "unbounded"/>
	<xsd:element name = "expirationDate" type = "xsd:date" minOccurs = "0"/>
	<xsd:element name = "startDateTime" type = "xsd:date" minOccurs = "0"/>	
	<xsd:element name = "participationModality" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "endDateTime" type = "xsd:date" minOccurs = "0"/>
	<xsd:element name = "contact" type = "lom:CharacterString" minOccurs = "0"/>
	<xsd:element name = "targetAudience" type = "targetAudienceType" minOccurs = "0"/>
	<xsd:element name = "specialty" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
	<xsd:element name = "profession" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
	<xsd:element name = "readingLevel" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
	<xsd:element name = "annotated" type = "yesNoType" minOccurs = "0"/>
	<xsd:element name = "clinicalHistory" type = "xsd:string" minOccurs = "0"/>
	<xsd:element name = "magnification" type = "xsd:integer" minOccurs = "0"/>
	<xsd:element name = "orientation" type = "orientationType" minOccurs = "0"/>
	<xsd:element name = "radiographType" type = "radiographTypeType" minOccurs = "0"/>
	<xsd:element name = "specimenType" type = "specimenTypeType" minOccurs = "0"/>
	<xsd:element name = "fileHeight" type = "xsd:integer" minOccurs = "0"/>
	<xsd:element name = "fileWidth" type = "xsd:integer" minOccurs = "0"/>
	<xsd:element name = "audienceCategory" type = "audienceCategoryType" minOccurs = "0" maxOccurs = "unbounded"/>
	<xsd:element name="activityCertification" type="lom:CharacterString"/>
	<xsd:element name="creditType" type="creditTypeType"/>
	<xsd:element name="creditUnit" type="creditUnitType"/>
	<xsd:element name="pacing" type="pacingType"/>
	<xsd:element name="accreditedProvider" type="lom:CharacterString"/>
	<xsd:element name="nonAccreditedProvider" type="lom:CharacterString"/>
	<xsd:element name="numberOfCredits" type="xsd:decimal"/>
	<xsd:simpleType name = "activityCertificationType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "AACN Category A"/>
			<xsd:enumeration value = "AACN Category O"/>
			<xsd:enumeration value = "AAFP Prescibed"/>
			<xsd:enumeration value = "AAFP Elective"/>
			<xsd:enumeration value = "AAP"/>
			<xsd:enumeration value = "ACEP"/>
			<xsd:enumeration value = "ACOG"/>
			<xsd:enumeration value = "AMA PRA category 1"/>
			<xsd:enumeration value = "AMA PRA category 2"/>
			<xsd:enumeration value = "AOA"/>
			<xsd:enumeration value = "CECBEMS First Responder"/>
			<xsd:enumeration value = "CECBEMS Basic"/>
			<xsd:enumeration value = "CECBEMS Advanced"/>
			<xsd:enumeration value = "CECBEMS Operational"/>
			<xsd:enumeration value = "CECBEMS Educator"/>
			<xsd:enumeration value = "CECBEMS Administrator"/>
			<xsd:enumeration value = "CPHQ"/>
			<xsd:enumeration value = "NCHEC Category 1"/>
			<xsd:enumeration value = "NCHEC Category 2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "creditTypeType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "CME"/>
			<xsd:enumeration value = "CE"/>
			<xsd:enumeration value = "CNE"/>
			<xsd:enumeration value = "CPE"/>
			<xsd:enumeration value = "CHES"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "yesNoType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "yes"/>
			<xsd:enumeration value = "no"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "unitType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "CECH"/>
			<xsd:enumeration value = "CEH"/>
			<xsd:enumeration value = "CEU"/>
			<xsd:enumeration value = "Cognates"/>
			<xsd:enumeration value = "Contact Hours"/>
			<xsd:enumeration value = "Credits"/>
			<xsd:enumeration value = "Hours"/>
			<xsd:enumeration value = "Units"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "orientationType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "axial"/>
			<xsd:enumeration value = "coronal"/>
			<xsd:enumeration value = "horizontal"/>
			<xsd:enumeration value = "longitudinal"/>
			<xsd:enumeration value = "sagittal"/>
			<xsd:enumeration value = "transverse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "radiographTypeType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "angiogram"/>
			<xsd:enumeration value = "CT"/>
			<xsd:enumeration value = "MRI"/>
			<xsd:enumeration value = "nuclear"/>
			<xsd:enumeration value = "PET"/>
			<xsd:enumeration value = "plain"/>
			<xsd:enumeration value = "ultrasound"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "specimenTypeType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "cell"/>
			<xsd:enumeration value = "organ"/>
			<xsd:enumeration value = "organ system"/>
			<xsd:enumeration value = "organelle"/>
			<xsd:enumeration value = "tissue"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "audienceCategoryType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "general"/>
			<xsd:enumeration value = "patient"/>
			<xsd:enumeration value = "caregiver"/>
			<xsd:enumeration value = "professional"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="creditsType">
		<xsd:sequence>
			<xsd:group ref="accreditingBody"/>
			<xsd:group ref="activityCertification"/>
			<xsd:group ref="creditType"/>
			<xsd:group ref="creditUnit"/>
			<xsd:group ref="pacing"/>
			<xsd:group ref="accreditedProvider"/>
			<xsd:group ref="nonAccreditedProvider"/>
			<xsd:group ref="releaseDate"/>
			<xsd:group ref="expirationDate"/>
			<xsd:group ref="numberOfCredits"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "targetAudienceType">
		<xsd:sequence>
			<xsd:element ref = "audienceCategory"/>
			<xsd:element ref = "profession"/>
			<xsd:element ref = "specialty"/>
			<xsd:element ref = "readingLevel"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "healthcareEducationType">
		<xsd:sequence>
			<xsd:element ref = "expirationDate"/>
			<xsd:element ref = "activityLocation"/>			
			<xsd:element ref = "startDateTime"/>
			<xsd:element ref = "endDateTime"/>
			<xsd:element ref = "participationModality"/>
			<xsd:element ref = "credits"/>
			<xsd:element ref = "targetAudience"/>
			<xsd:element ref = "offLabelUse"/>
			<xsd:element ref = "offLabelDescription"/>
			<xsd:element ref = "commercialSupport"/>
			<xsd:element ref = "commercialSupportAcknowledgement"/>
			<xsd:element ref = "providerRelationship"/>
			<xsd:element ref = "providerRelationshipDisclosure"/>
			<xsd:element ref = "facultyRelationship"/>
			<xsd:element ref = "facultyRelationshipDisclosure"/>
			<xsd:element ref = "contact"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "healthcareMetadataType">
		<xsd:sequence>
			<xsd:element ref = "healthcareEducation"/>
			<xsd:element ref = "healthcareAsset"/>
		</xsd:sequence>
		<xsd:attribute name = "uniqueElementName" fixed = "healthcareMetadata" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "healthcareAssetType">
		<xsd:sequence>
			<xsd:element ref = "annotated"/>
			<xsd:element ref = "clinicalHistory"/>
			<xsd:element ref = "magnification"/>
			<xsd:element ref = "orientation"/>
			<xsd:element ref = "radiographType"/>
			<xsd:element ref = "specimenType"/>
			<xsd:element ref = "fileHeight"/>
			<xsd:element ref = "fileWidth"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>